In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
#Declare Base using automap_base()
Base = automap_base()

In [6]:
# reflect an existing database into a new model

Base.prepare(engine, reflect=True)
# reflect the tables

In [7]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [10]:
# Find the most recent date in the data 
#import inspector to analyze the tables
from sqlalchemy import inspect

In [11]:
#inspect the tables
inspector = inspect(engine)

In [12]:
#iterate through the tables to find out the column names and data types
#column names for measurement table
columns = inspector.get_columns('measurement')
for column in columns:
    print(column['name'], column['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [13]:
# column names for station table
columns = inspector.get_columns('station')
for column in columns:
    print(column['name'], column['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [14]:
#most recent date in data set
recent_date = session.query(Measurement.date).\
order_by(Measurement.date.desc()).first()
print(f"Most recent date: {recent_date[0]}")

Most recent date: 2017-08-23

In [15]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.

latest_date = dt.datetime.strptime(recent_date[0],'%Y-%m-%d')
datequery = dt.date(latest_date.year - 1, latest_date.month, latest_date.day)
datequery

datetime.date(2016, 8, 23)

In [16]:
# Perform a query to retrieve the data and precipitation scores
precipitation_sel = [Measurement.date,Measurement.prcp]
queryresult = session.query(*precipitation_sel).filter(Measurement.date >= datequery).all()

In [17]:
# Save the query results as a Pandas DataFrame and set the index to the date column

precipitation_df = pd.DataFrame(queryresult, columns=['Date','Precipitation'])

In [18]:
# Sort the dataframe by date by setting date as index and dropping all null values
precipitation_df = precipitation_df.sort_values(["Date"], ascending=True)
precipitation_df= precipitation_df.dropna(how='any')
precipitation_df=precipitation_df.set_index("Date").head()
precipitation_df.head()

            Precipitation
Date
2016-08-23           0.00
2016-08-23           1.79
2016-08-23           0.05
2016-08-23           0.15
2016-08-23           0.70

In [19]:
# Use Pandas to calcualte the summary statistics for the precipitation data
precipitation_df.describe()

       Precipitation
count       5.000000
mean        0.538000
std         0.753638
min         0.000000
25%         0.050000
50%         0.150000
75%         0.700000
max         1.790000

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()